<!DOCTYPE html>
<html>
<head>
    <title>HealthSci</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="header">
        <div class="menu-icon">&#9776;</div>
        <h1 class="logo">HealthSci</h1>
        <div class="settings-icon">&#9881;</div>
    </div>
    <div class="chat-container">
        <div class="chat-messages" id="messages">
            <!-- Messages will be dynamically inserted here -->
        </div>
        <div class="chat-input-container">
            <form id="chat-form" style="display: flex; width: 100%;">
                <input type="text" class="chat-input" id="message" name="message" placeholder="Describe your symptoms or ask a question" style="flex-grow: 1;">
                <button type="submit" class="chat-submit-button"></button>
            </form>
        </div>
    </div>

    <script>
    $(document).ready(function() {
        var user_id = 'user_' + Math.random().toString(36).substr(2, 9);

        $('#chat-form').on('submit', function(event) {
            event.preventDefault();
            var message = $('#message').val();
            $('#messages').append('<p class="chat-message user"><strong></strong> ' + message + '</p>');
            $('#message').val('');

            $.ajax({
                url: '/chat',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({user_id: user_id, message: message}),
                success: function(response) {
                    $('#messages').append('<p class="chat-message bot"><strong></strong> ' + response.response + '</p>');
                }
            });
        });
    });
    </script>
</body>
</html>
